/*
   BORDERS
*/

  .ba { border-style: solid;            border-width: 1px; }
  .bt { border-top-style: solid;        border-top-width: 1px; }
  .br { border-right-style: solid;      border-right-width: 1px; }
  .bb { border-bottom-style: solid;     border-bottom-width: 1px; }
  .bl { border-left-style: solid;       border-left-width: 1px; }

@media screen and (min-width: 48em) {
  .ba-s { border-style: solid;         border-width: 1px; }
  .bt-s { border-top-style: solid;     border-top-width: 1px; }
  .br-s { border-right-style: solid;   border-right-width: 1px; }
  .bb-s { border-bottom-style: solid;  border-bottom-width: 1px; }
  .bl-s { border-left-style: solid;    border-left-width: 1px; }
}

@media screen and (min-width:48em) and (max-width: 64em) {
  .ba-m { border-style: solid;          border-width: 1px; }
  .bt-m { border-top-style: solid;      border-top-width: 1px; }
  .br-m { border-right-style: solid;    border-right-width: 1px; }
  .bb-m { border-bottom-style: solid;   border-bottom-width: 1px; }
  .bl-m { border-left-style: solid;     border-left-width: 1px; }
}

@media screen and (min-width: 64em) {
  .ba-l { border-style: solid;          border-width: 1px; }
  .bt-l { border-top-style: solid;      border-top-width: 1px; }
  .br-l { border-right-style: solid;    border-right-width: 1px; }
  .bb-l { border-bottom-style: solid;   border-bottom-width: 1px; }
  .bl-l { border-left-style: solid;     border-left-width: 1px; }
}

